# Title/Task

---

### List of tasks

  1. [Preproccessing](#1.-Preprocessing)
    * Drop rows where None or Null exist
    * Label preprocessing (genre)
    * Poster Preprocessing

*__imports__*

In [2]:
# imports ...
import numpy as np
import pandas as pd

import math
import requests
from skimage import io
from matplotlib import pyplot as plt
import matplotlib.image as mpimg

%matplotlib inline

__helper functions__

In [3]:
file_type = ".jpg"


# gets the image from a url
def get_image_from_url(img_url):
        request = requests.head(img_url)
        if request.status_code == 200:
            return io.imread(img_url)
        else:
            return [] # make sure to handle this case if you use this method


# reads a directory of images, flattens the features to a single row then returns as a dataframe
def extract_features(features):
    new_df = []
    for feature in features:
        request = requests.head(feature)
        if request.status_code == 200:
            img = io.imread(feature)
            image_flat = img.flatten()
            new_df.append(image_flat)
    return new_df

# # helper for displaying an image
# def print_img(img, color=True):
#     plt.figure(figsize=(10, 6) )
#     if (color):
#         #plt.imshow(cv2.cvtColor(img, cv2.COLOR_BGR2RGB) ) # need to change this colorspace to not use opencv - tbd
#     else:
#         plt.imshow(img, cmap="gray") # grayscale
#     plt.show()


# more coming

*__dataset directory paths__*

In [4]:

dataset_path = "../dataset/MovieGenre.csv"

posters_images_path = "../dataset/SampleMoviePosters/"

*__import datasets__*

In [5]:

dataset_orig_df = pd.read_csv(dataset_path)

dataset_orig_df[::3000]

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
3000,24852,http://www.imdb.com/title/tt24852,Babes in Toyland (1934),7.4,Comedy|Family|Fantasy,https://images-na.ssl-images-amazon.com/images...
6000,84302,http://www.imdb.com/title/tt84302,Maratonci trce pocasni krug (1982),9.0,Comedy|Drama,https://images-na.ssl-images-amazon.com/images...
9000,100280,http://www.imdb.com/title/tt100280,Nuns on the Run (1990),5.9,Comedy|Crime,https://images-na.ssl-images-amazon.com/images...
12000,42286,http://www.imdb.com/title/tt42286,Broken Arrow (1950),7.2,Drama|Romance|Western,https://images-na.ssl-images-amazon.com/images...
15000,1391579,http://www.imdb.com/title/tt1391579,The Dark Lurking (2009),3.4,Action|Horror|Sci-Fi,https://images-na.ssl-images-amazon.com/images...
18000,49800,http://www.imdb.com/title/tt49800,Storm Center (1956),7.1,Drama,https://images-na.ssl-images-amazon.com/images...
21000,2111478,http://www.imdb.com/title/tt2111478,Mea Maxima Culpa: Silence in the House of God ...,8.1,Documentary,https://images-na.ssl-images-amazon.com/images...
24000,477449,http://www.imdb.com/title/tt477449,MC5: Kick Out the Jams (1999),7.5,Documentary|Short|Music,https://images-na.ssl-images-amazon.com/images...
27000,57262,http://www.imdb.com/title/tt57262,Love Is a Ball (1963),6.0,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
30000,80439,http://www.imdb.com/title/tt80439,Il bisbetico domato (1980),7.7,Comedy,https://images-na.ssl-images-amazon.com/images...
33000,3257072,http://www.imdb.com/title/tt3257072,Mahi va gorbeh (2013),7.6,Drama|Mystery|Thriller,https://images-na.ssl-images-amazon.com/images...
36000,325725,http://www.imdb.com/title/tt325725,Legend of the Candy Cane (2001),6.2,Animation|Comedy|Drama,https://images-na.ssl-images-amazon.com/images...
39000,2473486,http://www.imdb.com/title/tt2473486,Oxyana (2013),7.2,Documentary|News,https://images-na.ssl-images-amazon.com/images...

In [6]:
dataset_orig_df.shape

(40108, 6)

## 1. Preprocessing

---

### A.  *__drop rows where None or Null exist__*

In [31]:

dataset_edit_df = dataset_orig_df.dropna()

print(dataset_edit_df.shape) # before dropping an additional row

(39246, 6)

__*drop additional rows whose image link don't work*__

In [32]:
broken_img_link_imbdID = 59255
#broken_row = dataset_edit_df[ dataset_edit_df["imdbId"] == 59255 ]

dataset_edit_df.drop(8138, inplace=True) 

print(dataset_edit_df.shape)

(39245, 6)

In [33]:

orig_df_size = dataset_orig_df.shape[0] # orig
mod_df_size = dataset_edit_df.shape[0] # after dropping rows

print("Number of rows dropped (contains Null/None):", orig_df_size - mod_df_size)

Number of rows dropped (contains Null/None): 863

In [34]:

dataset_edit_df[::3000]

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
3028,120363,http://www.imdb.com/title/tt120363,Toy Story 2 (1999),7.9,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
6033,83107,http://www.imdb.com/title/tt83107,Some Kind of Hero (1982),5.6,Comedy|Crime|Drama,https://images-na.ssl-images-amazon.com/images...
9037,102984,http://www.imdb.com/title/tt102984,Stone Cold (1991),5.9,Action|Crime|Drama,https://images-na.ssl-images-amazon.com/images...
12040,402906,http://www.imdb.com/title/tt402906,Ceskí_ sen (2004),7.5,Documentary|Comedy,https://images-na.ssl-images-amazon.com/images...
15050,1023441,http://www.imdb.com/title/tt1023441,Coco Chanel & Igor Stravinsky (2009),6.4,Drama|Music|Romance,https://images-na.ssl-images-amazon.com/images...
18104,63149,http://www.imdb.com/title/tt63149,I Am Curious (Blue) (1968),6.2,Drama,https://images-na.ssl-images-amazon.com/images...
21219,57324,http://www.imdb.com/title/tt57324,Mothlight (1963),6.3,Short,https://images-na.ssl-images-amazon.com/images...
24305,2996648,http://www.imdb.com/title/tt2996648,Bad Ass 2: Bad Asses (2014),5.6,Action|Comedy|Drama,https://images-na.ssl-images-amazon.com/images...
27385,116619,http://www.imdb.com/title/tt116619,In Cold Blood,6.3,Crime|Drama|History,https://images-na.ssl-images-amazon.com/images...
30480,431619,http://www.imdb.com/title/tt431619,Arya (2004),7.9,Action|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
33551,1576433,http://www.imdb.com/title/tt1576433,"My Granpa, the Bankrobber (2011)",6.0,Comedy|Family,https://images-na.ssl-images-amazon.com/images...
36682,269138,http://www.imdb.com/title/tt269138,De l'amour (2001),5.3,Drama,https://images-na.ssl-images-amazon.com/images...
39857,808392,http://www.imdb.com/title/tt808392,Neal Cassady (2007),6.6,Biography|Drama,https://images-na.ssl-images-amazon.com/images...

---

### B. __*Label preprocessing (genre)*__

__*get label column*__

In [35]:

label = dataset_edit_df["Genre"]
label[::3000]

0        Animation|Adventure|Comedy
3028     Animation|Adventure|Comedy
6033             Comedy|Crime|Drama
9037             Action|Crime|Drama
12040            Documentary|Comedy
15050           Drama|Music|Romance
18104                         Drama
21219                         Short
24305           Action|Comedy|Drama
27385           Crime|Drama|History
30480          Action|Drama|Romance
33551                 Comedy|Family
36682                         Drama
39857               Biography|Drama
Name: Genre, dtype: object

In [36]:

label.shape

(39245,)

__*split the label to only show one genre*__

In [37]:

#returns the first/main genre string - don't care about sub-genres...
def get_one_genre(row):
    return row.split("|")[0] # yolo

label_edit = label.apply(get_one_genre)

In [38]:

label_edit[::3000]

0          Animation
3028       Animation
6033          Comedy
9037          Action
12040    Documentary
15050          Drama
18104          Drama
21219          Short
24305         Action
27385          Crime
30480         Action
33551         Comedy
36682          Drama
39857      Biography
Name: Genre, dtype: object

__*count of each genre*__

In [39]:

label_edit.value_counts()

Drama          9776
Comedy         9654
Action         4722
Documentary    3521
Crime          2546
Horror         1970
Adventure      1674
Animation      1624
Biography      1222
Thriller        397
Short           390
Western         315
Fantasy         272
Mystery         256
Family          243
Romance         203
Sci-Fi          192
Musical         115
War              65
Music            36
History          24
Film-Noir        16
Adult             7
Talk-Show         3
Sport             2
Name: Genre, dtype: int64

__*one-hot-encode labels*__

In [40]:

#one hot encoding
label_ohe = pd.get_dummies(label_edit)

label_ohe.columns

Index(['Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir',
       'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
       'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'],
      dtype='object')

In [41]:

label_ohe[::3000] # <---- this is out label for when we do training/testing

,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,Musical,Mystery,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3028,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6033,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9037,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12040,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15050,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18104,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
24305,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27385,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30480,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33551,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36682,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
39857,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---

### C. __*Poster Preprocessing*__

*__ gather poster links __*

In [42]:

poster_links = dataset_edit_df['Poster']

poster_links.shape

(39245,)

In [43]:

sample_poster_url = poster_links[0]

print("Sample image url:\n", sample_poster_url)

Sample image url:
 https://images-na.ssl-images-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_UX182_CR0,0,182,268_AL_.jpg

In [ ]:
poster_folder = "../dataset/posters/"
file_extension = ".jpg"

file_name_ids = dataset_edit_df["imdbId"] # for naming the image file

for name, link in zip(file_name_ids, poster_links):
    file_name = str(name) + file_extension
    result = requests.get(link, stream=True)
    image = result.raw.read()
    open(poster_folder + file_name, "wb").write(image)

__*save images to disk*__